---
const { id, nombre, img, modalidad, duracion, precio } = Astro.props;
---

<a href={`/servicespsy/${id}`} data-id={id}>
  <article
    class="Card-service flex flex-cols gap-1 md:gap-3 rounded-lg overflow-hidden border w-[270px] h-[216px] md:w-[380px] md:min-h-[305px] hover:bg-[#a0d8d7] hover:text-black"
  >
    <img
      transition:name={`image-${id}`}
      data-id={`card-image-${id}`}
      fetchpriority="low"
      src={img}
      alt={`imagen del servicio de ${nombre}`}
      class="w-[150px] md:w-[200px] object-cover"
      decoding="async"
    />
    <div
      class="grid content-between gap-2 md:gap-4 text-[10px] md:text-sm text-center p-1"
    >
      <div
        class="flex flex-col gap-2 md:gap-4 text-[10px] md:text-sm text-center p-1"
      >
        <h2 class="text-[14px] md:text-2xl font-bold">{nombre}</h2>
        <p>Duración: {duracion}</p>
        <p>Costo: ${precio} USD</p>
        <div class="flex flex-col md:flex-rows gap-1">
          {
            modalidad.map((modalidad: { modalidad: string }) => (
              <p class="badges rounded-lg border-2 border-black bg-[#0DC143]">
                {modalidad}
              </p>
            ))
          }
        </div>
      </div>
      <button>Presiona aquí </button>
    </div>
  </article>
</a>
